@use 'variables';

.hero {
    padding-top: 64px;
    padding-bottom: 330px;
    background-image: url(../images/capa.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;

    .container {
        position: relative;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: variables.$secondaryTextColor;
        content: '';
        opacity: .5;
    }

    &__text {
        margin-top: 94px;
        margin-bottom: 340px;
        font-size: 20px;
        line-height: 56px;
        font-weight: 800;
        text-align: center;
    }

   
    @media (max-width: 640px) {
        padding: 40px 0;

      
        &__text {
            font-size: 12px;
            line-height: 24px;
            margin: 20px 0;
            margin-bottom: 340px;
            text-align: center;
        }

            }

  

}